//******************** - Colors  - ************************

$black: rgba(0, 0, 0, 0.948);
$black-hover: rgba(0, 0, 0, 0.628);
$black-dim: rgba(0, 0, 0, 0.433);
$white: #fefefe;
$white-light: #fefefeb0;
$brand--yellow: #ffc107;
$brand--yellow-hover: #ffc107c3;
$brand--color: dodgerblue;
$brand--hover: dodgerblue;
$nav--link-hover: $brand--hover;
$nav--link-active: $brand--hover;
$nav--bg: $white;
$bg--light: #f8f9fa;
$bg-white: #fff;